<div class="main_container">

<div class="landing_white_space"></div>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div class ="value_prop left">

    <div id="interview_ease" class="center">
      <h1 id="landingh1" class="center"><em>InterviewEase</em></h1>
      <p class="landing_sub center">easy interviews done remotely</p>
      <p id ="register_click" class="clickable center">register your company</p>
    </div>


    <div id="registration_form" class="hidden">
      <div class="form_wrap adjust_right">
        <h2 class="center">register your company</h2>
        <%= form_tag ({controller: "companies", action: "create"}) do %>
          <%= label_tag(:name, "Company Name") %><br>
          <%= text_field_tag(:name) %><br>
          <%= fields_for Employee.new do |employee| %>
            <%= employee.label(:name, "Your name") %>
            <br>
            <%= employee.text_field(:name) %><br>
            <%= employee.label(:email, "Your email") %>
            <br>
            <%= employee.text_field(:email) %><br>
            <%= employee.label(:password, "Password") %>
            <br>
            <%= employee.password_field(:password) %><br>
          <% end %>
          <%= submit_tag "Register Company" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sign_in right">
    <div class="form_wrap">
      <h2>sign in and start interviewing</h2>
      <%= form_tag ({controller: "sessions", action: "create"}) do %>
        <%= label_tag(:email, "Email") %><br>
        <%= text_field_tag(:email) %><br>
        <%= label_tag(:password, "Password") %><br>
        <%= password_field_tag(:password) %><br>
        <%= submit_tag "Sign In" %><br>
      <% end %>
    </div>


    <p id ="checkin_click" class="clickable center">candidates check in</p>

    
    <div id="checkin_form" class="hidden">
      <div class="form_wrap">
        <h2 class="center">enter interview code</h2>
        <%= form_tag checkins_path do %>
          <%= label_tag(:identifier, "Interview code") %><br>
          <%= text_field_tag(:identifier) %><br>
          <%= submit_tag "Check In" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#email').focus();

    $('#register_click').on('click', function() {
      $('#interview_ease').hide();
      $('#registration_form').removeClass('hidden');
    });

    $('#checkin_click').on('click', function() {
      $(this).hide();
      $('#checkin_form').removeClass('hidden');
    });


  });
</script>







