<small>:: Employees/<%= link_to "#{@employee.company.name}", @employee.company %>/<%= @employee.name %> EDIT</small>

<h1>Edit Employee: <%= @employee.name %></h1>

<%= link_to "Employee's Home", @employee %> | 
<%= link_to "Company Home", @employee.company %><br><br>


<%= form_for @employee, url: {action: "update"} do |f| %>

  <%= f.label "Name: " %> <%= f.text_field (:name) %><br><br> 
  <%= f.label "Email Address: " %> <%= f.text_field (:email) %><br><br>
  <%= f.label "Enter New Password Here: " %> <%= f.text_field (:password), value: "" %><br><br>
  <%= f.submit "Edit Employee" %><br><br>

<% end %>