<div class="page_heading">
  <h1><%= current_user.company.name %></h1>
</div>

<div class="centering_wrapper employee_new">
  <div class="form_wrap">
    <h2 class="center">Enter Employee Info</h2>
    <%= form_for @employee, url: {action: "create"} do |f| %>
      <%= f.label "Name" %>
      <%= f.text_field (:name) %><br>
      <%= f.label "Email" %>
      <%= f.text_field (:email) %><br>
      <%= f.label "Password" %>
      <%= f.text_field (:password), value: "" %><br>
      <%= f.submit "Add Employee" %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#employee_name').focus();
  });
</script>
