<div class="main_container">

  <div class="page_heading">
    <h1><%= @employee.name ? @employee.name : @employee.email %></h1>
    <% if current_user.id == @employee.id %>
    <%= link_to "edit", edit_employee_path(@employee.id) %> <%= link_to "delete", @employee, method: :delete %>
    <% end %>
  </div>

  <div class="sidebar">
    <h2>My Interviews</h2>
      <% @interviews.each do |interview| %>
        <p><%= link_to interview.candidate.name, interview %></p>
      <% end %>
  </div>

  <div class="centering_wrapper employee_show">
    <div class="module left">
      <h2 class="center">Set Up an Intervew</h2>
      <div class="form_wrap">
        <%= form_for Candidate.new do |f| %>
          <%= f.label(:name, "Candidate name") %>
          <%= f.text_field :name %>
          <br>
          <%#= f.label(:email, "Candidate email") %>
          <%#= f.text_field :email %>
          <!-- <br> -->
          <%= f.submit "Add"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#candidate_name').focus();
  });
</script>
