
<div class="main_emp">
<div class="show_employee">


<h1><%= @employee.name ? @employee.name : @employee.email %></h1>

<% if current_user.id == @employee.id %>
<%= link_to "edit profile", edit_employee_path(@employee.id) %> | <%= link_to "delete account", @employee, method: :delete %>
<% end %>

</div><!-- show_employee -->


<div class="show_emp_interviews">
<small>:: Employees/<%= link_to "#{@employee.company.name}", @employee.company %>/<%= @employee.name %></small>

<h1>Interviews</h1>
<% @interviews.each do |interview| %>
  <p><%= link_to interview.candidate.name, interview %></p>
  <p>
    <small>
      <% if interview.start %>
        <p><%= "Scheduled for #{interview.start}" %></p>
      <% end %>
    </small>
  </p>
<% end %>

<h2>New Interview</h2>
<%= form_for Candidate.new do |f| %>
  <%= f.label(:name, "Who will you be interviewing?") %>
  <%= f.text_field :name %>
  <br>
  <%= f.label(:email, "If you know their e-mail, enter it here.") %>
  <%= f.text_field :email %>
  <br>
  <%= f.submit %>
<% end %>
</div><!-- show_emp_interviews -->

</div><!-- show_main_emp -->