<div id="interview_show_wrapper" 
  data-identifier=<%= @interview.identifier %>
  data-interviewid=<%= @interview.id %>
  data-candidateid=<%= @interview.candidate.id %>
>
  <% if current_user %>
    <div class="sidebar">

      <div class="sidebar_sub">
        <h2 class="blue">Candidate</h2>
        <p id="interview_identifier"><%= @interview.candidate.name %></p>
      </div>

      <div class="sidebar_sub">
        <h2 class="blue">Interview Code</h2>
        <p id="interview_identifier"><%= @interview.identifier %></p>
        <p><small>give this code to the candidate</small></p>
      </div>

      <div class="sidebar_sub">
        <h2 class="blue">Previous Interviews</h2>

        <div class="candidate_section">
          <h4>Challenges Attempted</h4>
          <% if @interview.candidate.attempted_challenges.any? %>
            <% @interview.candidate.attempted_challenges.each do |ac| %>
              <p><%= ac.title %></p>
            <% end %>
          <% else %>
            <p>no challenges attempted</p>
          <% end %>
        </div>

        <br>

        <h4>Topics Covered</h4>
        <% if @interview.candidate.addressed_topics.any? %>
          <% @interview.candidate.addressed_topics.each do |at| %>
            <p><%= at.name %></p>
          <% end %>
        <% else %>
          <p>no topics covered</p>
        <% end %>
      </div>

      <div class="sidebar_sub">
        <h2 class="blue">Challenges</h2>

        <h4><%= current_user.company.name.capitalize %></h4>
          <% current_user.company.challenges.each do |ch| %>
            <span data-challengeid="<%= ch.id %>" class="clickable"><%= ch.title %></span><br>
          <% end %>
        <br>
        <h4>Public</h4>
          <% Challenge.where("public = true").each do |ch| %>
            <span data-challengeid="<%= ch.id %>" class="clickable"><%= ch.title %></span><br>
          <% end %>
      </div>

      <div id="end_interview">
        <%= form_for @interview do |f| %>
          <%= f.hidden_field :complete, :value => true %>
          <%= f.submit "End Interview" %>
        <% end %>
      </div>

    </div>
  <% end %>


  <div id ="interview_challenge_wrapper">

    <h2 class="challenge_title">Challenge</h1>
    <div>
      <div id="interview_challenge_description" class="challenge_description_div_with_bottom_margin">
        After a challenge is chosen, its description will be displayed here.
      </div>
    </div>

    <div id="interview_editor_wrapper">

      <div class="code" id="code"></div>

      <div id="interview_editor_buttons_wrapper">
        
        <div class="left">
          <%= render "select_theme" %>
        </div>

        <div class="right">
          <a href="#" id="run_code">Run the Code</a>
        </div>

      </div>

      <div>
        <h2>Results</h3>
        <div id="code_results">The result of running your code will output here.</div>
      </div>

    </div>

    <div id="interview_info_wrapper" class="right">

      <div id="remote_video" class="remote_video_wrapper left">
      </div>

      <div class="local_video_wrapper right">
        <video id="local_video"></video>
      <div>

    </div>
  </div>
</div>

<script>
        // grab the room from the URL
        var room = $('#interview_show_wrapper').data().identifier                 

        // create our webrtc connection
        var webrtc = new SimpleWebRTC({
            // the id/element dom element that will hold "our" video
            localVideoEl: 'local_video',
            // the id/element dom element that will hold remote videos
            remoteVideosEl: 'remote_video',
            // immediately ask for camera access
            autoRequestMedia: true,
            log: true
        });

      // when it's ready, join if we got a room from the URL
      webrtc.on('readyToCall', function () {
          // you can name it anything
          if (room) webrtc.joinRoom(room);
      });
      
    </script>
