<div class="page_heading">
  <h1><%= @company.name %></h1>
</div>

<div class="centering_wrapper">

  <div class="company-module left">
    <h2 class="center"><br>Employees</h2>
    <p class="company_link center">
      <%= link_to "add employee", new_employee_path %>
    </p>

    <div class="company_list">
      <% @company.employees.each do |employee| %>
        <p><%= employee.name %></p>
      <% end %>
    </div>
  </div>

  <div class="company-module left">
    <h2 class="center"><br>Candidates</h2>
    <p class="company_link center" style="color:white;"><%= "h" %></p>

    <div class="company_list">
      <% @company.candidates.each do |candidate| %>
        <p><%= candidate.name %></p>
      <% end %>
    </div>
  </div>

  <div class="company-module left">
    <h2 class="center">Feedback Questions</h2>
    <p class="company_link center">
      <%= link_to "add question", new_feedback_question_path %>
    </p>
  
    <div class="company_list">
      <% @company.feedback_questions.each do |question| %>
        <p><%= question.prompt %></p>
      <% end %>
    </div>
  </div>

  <div class="company-module left">
    <h2 class="center"><br>Challenges</h2>
    <p class="company_link center">
      <%= link_to "add challenge", new_challenge_path %>
    </p>
  
    <div class="company_list">
      <% @company.challenges.each do |challenge| %>
        <p><%= challenge.title %></p>
      <% end %>
    </div>
  </div>

  <div class="company-module left">
    <h2 class="center"><br>Topics</h2>
    <p class="company_link center">
      <%= link_to "add topic", new_topic_path %>
    </p>

    <div class="company_list">
      <% @company.topics.each do |topic| %>
        <p><%= topic.name %></p>
      <% end %>
    </div>
  </div>
