<h1>Show Company</h1>

<h1><%= @company.name %></h1>

<div id="employees">
<h2>CRUD Employees</h2>
<%= link_to "Add Employee", new_employee_path %>
<table>
  <% @company.employees.each do |employee| %>
  <tr>
  <td><%= employee.name %></td>
  <td><%= link_to "View", employee %></td>
  <td><%= link_to "Delete", employee, method: :delete %></td>
  </tr>
  <% end %>
</table>

</div>


<div id="challenges">
<h2>CRUD Challenges</h2>
<%= link_to "Add Challenge", new_challenge_path %>
<table>
  <% @company.challenges.each do |challenge| %>
  <td><%= challenge.title %></td>
  <td><%= link_to "View", challenge %></td>
  <td><%= link_to "Edit", edit_challenge_path(challenge.id) %></td>
  <td><%= link_to "Delete", challenge, method: :delete %></td>
  <% end %>
</table>

</div>


<div id="topics">
<h2>CRUD Topics</h2>
<%= link_to "Add Topic", new_topic_path %>
<table>
  <% @company.topics.each do |topic| %>
  <td><%= topic.name %></td>
  <td><%= link_to "View", topic %></td>
  <td><%= link_to "Edit", edit_topic_path(topic.id) %></td>
  <td><%= link_to "Delete", topic, method: :delete %></td>
  <% end %>
</table>

</div>