<h1>Feedback</h1>

<%= @interview.candidate.name %>

<br>

<div id="feedback_questions_wrapper">



  <%= form_tag interview_feedback_path(@interview) do %>
    <%= hidden_field_tag 'candidate_id', @interview.candidate_id %>

    <% @company.topics.each do |t| %>

      <%= check_box_tag "topic[][#{t.id}]" %> <%= t.name %>
      <br>

    <% end %>

    <% @company.feedback_questions.each do |q| %>

      <p><%= q.prompt %></p>
      <%= hidden_field_tag 'response[][q_id]', q.id %>
      <%= text_area_tag    'response[][response]' %>

    <% end %>

    <br>

    <p>Would you recommend hiring this candidate?</p>
    <%= radio_button_tag(:recommend, true) %> Yes
    <br>
    <%= radio_button_tag(:recommend, false) %> No
    <br>
    <%= submit_tag "Submit Feedback" %>

  <% end %>

</div>