<h1>Edit Challenge</h1>
<%= link_to "Back To Company Homepage", company_path %><br><br>


<%= form_for @challenge, url: {action: "update"} do |f| %>

  <%= f.label "Title: " %><br><br>
  <%= f.text_field (:title) %><br><br>  
  <%= f.label "Code: " %><br><br>
  <%= f.text_area (:code) %><br><br>
  <%= f.label "Test Code: " %><br><br>
  <%= f.text_area (:test_code) %><br><br>
  <%= f.label "Private? " %><br><br>
  <%= f.label :private_yes, "Yes" %>
  <%= f.radio_button(:private, "Yes") %><br>
  <%= f.label :private_no, "No" %>
  <%= f.radio_button(:private, "No") %><br><br>
  <%= f.submit "Submit" %><br><br>

<% end %>