<small>:: <%= current_user.company.name %>/New Challenge</small>

<h1>New Challenge</h1>
<%= link_to "Back To Company Homepage", @company %><br><br>

  <%= form_for @challenge, url: {action: "create"} do |f| %>

  <%= f.label "Title: " %><br><br>
  <%= f.text_field (:title) %><br><br>
  <%= f.label "Description: " %><br><br>
  <%= f.text_field (:description) %><br><br> 
  <%= f.label "Code: " %><br><br>
  <%= f.text_area (:code) %><br><br>
  <%= f.label "Test Code: " %><br><br>
  <%= f.text_area (:test_code) %><br><br>
  <%= f.check_box :public %><%= f.label "I'll share. Make this challenge available to all users." %><br><br>
  <%= f.submit "Submit" %><br><br>

<% end %>
