<div class="page_heading">
  <h1><%= current_user.company.name %></h1>
</div>

<div class="centering_wrapper one">
  <div class="form_wrap">
    <h2 class="center">Challenge Details</h2>
    <%= form_for @challenge, url: {action: "create"} do |f| %>
      <%= f.label "Title" %>
      <%= f.text_field (:title) %><br>
      <%= f.label "Description" %>
      <%= f.text_field (:description) %><br>
      <%= f.label "Code" %>
      <%= f.text_area (:code) %><br>
      <%= f.check_box :public %><%= f.label "Make this a public challenge" %><br>
      <%= f.submit "Add Challenge" %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#challenge_title').focus();
  });
</script>
