<h1><%= @challenge.title %></h1>

<%= link_to "Back To Company Homepage", @challenge.company %><br><br>

<h2>Description</h2>
<p><%= @challenge.description %></p>

<h2>Code</h2>
<p><%= @challenge.code %></p>

<h2>Test Code</h2>
<p><%= @challenge.test_code %></p>

<h2>Private?</h2>
<p><%= @challenge.public %></p>

<h2>Author</h2>
<p><%= @challenge.author.name %></p>
