<!DOCTYPE html>
<html>
<head>
  <title>PairingRoulette</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>  
<header>
  <div class="header_info">
      
      <div class="right">
        <%= link_to "logout", logout_path, method: :delete %>
      </div>

      <div class="right header_right">
        <%= link_to current_user.email, current_user %>
      </div>

      <div class="left">
        <%= link_to current_user.company.name, current_user.company %>
      </div>
    
  </div>
</header>
<% end %>

<% if flash[:error] %>
  <div class="error"><%= flash[:error].full_messages.each { |error| "<p>#{error}</p>" } %></div>
<% end %>
  <div class="main_container">
    <%= yield %>
  </div>

</body>
</html>
